{% extends "base.html" %}
{% load url from future %}

{% block script %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div>
  <h3>Projects:</h3>
  <table>
    <head>
      <tr class="even">
        <th>Project Owner</th>
        <th>Project Name</th>
      </tr>
    </head>
    <body>
    {% for project in projects %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>{{ project.owner }}</td>
        <td><a href="{% url "pull_requests" owner=project.owner project=project.name %}">{{ project.name }}</a></td>
      </tr>
    {% endfor %}
    </body>
  </table>
</div>

<div>
  <a rel="nofollow" class="logout" href="/github-jenkins/logout/">Logout</a>
</div>
{% endblock %}
