{% extends "base.html" %}
{% load url from future %}

{% block script %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}pull_requests.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div>
  <a rel="nofollow" class="logout" href="/github-jenkins/logout/">Logout</a>
</div>

<div>
  <div class="left">
{% include "project_table.html" %}
  </div>

  <div class="right">
    <h3>Project: {{ selected_project.full_name }}</h3>
    <table id="pull-request-table-body">
      <tr class="even">
        <th>Pull Request ID</th>
        <th>Description</th>
        <th>Build #</th>
        <th>Status</th>
        <th/>
      </tr>
    </table>
  </div>
</div>

{% endblock %}
