{% extends "base.html" %}
{% load url from future %}

{% block script %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var reload_function = function() {
      $("#pull-request-table-body").load("{% url "update_pull_requests" owner=project.owner project=project.name %}");
      var delay = 300000 + (Math.random() * 120000);
      window.setTimeout(reload_function, delay);
    };
    window.setTimeout(reload_function, 300000);
  });
</script>
{% endblock %}

{% block content %}
<div>
  <h3>Project: {{ project.full_name }}</h3>
{% include "pull_requests_body.html" %}
</div>

<div>
  <a rel="nofollow" class="logout" href="/github-jenkins/logout/">Logout</a>
</div>

<script type="text/javascript">
  $(function () {
    $('.disconnect form a').on('click', function (e) {
      e.preventDefault();
      $(this).parent('form').submit();
    });
  });
</script>
{% endblock %}
